<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        /* Add your CSS styles here */
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .logo {
            display: block;
            margin: 0 auto;
            max-width: 10%;
            height: auto;
        }

        /* Add your additional styles for the template */
        .header {
            color: #ffffff;
            text-align: center;
            padding: 20px 0;
            background-color: #111111;
        }

        .content {
            color: #ffffff;
            padding: 20px;
            background-color: #111111;
        }

        .content h1 {
            color: #ffffff;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        .content p {
            color: #ffffff;
            margin-bottom: 10px;
        }

        .button {
            display: block;
            width: fit-content;
            margin: 20px auto 0;
            color: #ffffff;
            background-color: #2f9780;
            text-decoration: none;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        .footer {
            color: #ffffff;
            text-align: center;
            padding: 20px 0;
            background-color: #111111;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <h4>BEATJEARKY</h4>
        </div>

        <!-- Content -->
        <div class="content">
            <h1>
                <%= header %>
            </h1>
            <p>Hello <%= name %>,</p>
            <p>
                <%= user %>
            </p>
            <p><a href="<%= token %>" class="button">
                    <%= buttonText %>
                </a></p>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>
                <%= footer %>
            </p>
        </div>
    </div>
</body>

</html>